@tailwind base;
@tailwind components;
@tailwind utilities;

/* Need to add this here rather than just the className because if you only add
it as part of className the initial server render won't have it and once it
loads in the client then it will have it */
body {
  @apply bg-black text-slate-100;
}
