name: CI

on: [push, pull_request]

env:
  DATABASE_URL: "https://fake.com"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Node.js and pnpm
        uses: actions/setup-node@v2
        with:
          node-version: "18"
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org/"

      - name: Install dependencies
        run: pnpm install

      - name: Type check with TypeScript
        run: pnpm run type-check

      - name: Lint with ESLint
        run: pnpm run lint
